.card {
    width: 320px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
    height: 100;
    margin-top: 15vh;
    overflow: overlay
  }
  .cardSignUp {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 auto;
    height: 100%;
    margin-top: 8vh;
  }
  label {
    padding: 5px 0px;
  }
  
  h2 {
    /* text-align: center; */
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    /* margin-bottom: 6px; */
    color: #959595;
  }
  
  input {
    width: 94%;
    padding: 8px;
    border-radius: 4px;
    border: 1.5px solid  var(--green-color);
    outline: none;
    
  
  }
  
  
  button {
    width: 80%;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color:  var(--green-color);
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  p {
    /* text-align: center; */
  }
  
  a {
    color:  var(--green-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .forgetPassword{
    color: var(--green-color);
    display: flex;
    justify-content: end;
    margin-top: 5px;
    cursor: pointer;
  }
  .password-wrapper {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .validity{
    display: flex;
    color: red;
    align-items: center;

  }
  .validity p{
    color: red;
    font-size: 0.9rem;
    padding: 2px 5px
  }
  /* .validity i{
    color:rgb(255, 251, 22)
  } */

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* cursor: pointer; */
    font-size: 3rem;
    border: 2px solid  var(--green-color);
    padding: 20px;
    border-radius: 20px;
    height: 80px;
    width: 110px;
  }
  .icon-p{
    font-size: 16px;
    text-decoration: none;
    padding-top: 8px;
  }
  .icon-main{
    padding: 20px;
  }
  .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
  }
  .signh2{
    display: flex;
    justify-content: center;
  }
  .input-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1.5px solid  var(--green-color);
    border-radius: 4px;
  }
  .signup-success{
    color: var(--green-color)
  }
  @media only screen and (max-width: 426px) {
    .card {
      /* height: 85vh; */
      width: 72%;
      border: none;
      overflow: hidden;
    }
    .cardSignUp{
width: 72%;
border: none;
    }
    .icon-container{
flex-direction: column;
    }
    .icon{
      font-size: 2rem;
      padding: 10px;
      height: 66px;
    }
  }
  .parent-card{
    /* display: flex; */
    padding-top: 10vh;
  }