.crd {
    width: 280px;
    padding: 20px;
    /* border: 0.5px solid #dbd9d9; */
    border-radius: 8px;
    /* box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #fff;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    /* margin: 0 auto; */
    /* height: 70vh; */
    margin-top: 8vh;
  }
  .date-time{
    display: flex;
    justify-content: space-between;
    color:#37A987;
  }
  .des{
    color:#9b9999
  }
  h4{
    padding: 0;
    margin: 0;
  }
  p{
    margin: 0;
    padding: 0;
    /* line-height: 3lvh */
  }
.allEvents{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 5cap;
  margin-top: -30px;
}
.allMainEvents{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 5cap;
  padding-top: 10px;
}
.teacherHomeMain{
  padding-top: 5cap;
}
.teacherHomeMain h2{
padding-left: 50px;
}
.time input{
  width: 90%;
}
.time{
  display: flex;
  justify-content: space-between;

}
/* .HomeCards{
  padding-left: 3cap;
} */
/*  responsive */
@media only screen and (max-width: 320px) {
 .allEvents{
  grid-template-columns: repeat(1, 1fr);
  padding-left: 1cap;
  padding-right: 1cap;
  }
  .crd{
    padding: 10px;
    margin-top: 6vh
  }
}
.teacherHome{
  padding-top: 5cap;
}